{% extends 'flatpages/default.html' %}

{% load custom_tags %}
{% load custom_filters %}

{% block title %}
    Articles
{% endblock title %}

{% block content %}
    <h1>Все статьи</h1>

    <hr>
    {% if articles %}
        <table>
            <tr>
                <td>Author</td>
                <td>Post_type</td>
                <td>Create</td>
                <td>Category</td>
                <td>Title</td>
                <td>Text</td>
                <td>Rating</td>
            </tr>

            {% for article in articles %}
                <tr>
                    <td>{{ article.author }}</td>
                    <td>{{ article.post_type }}</td>
                    <td>{{ article.created_at|date:"d.m.Y" }}</td>
                    <td>
                        {% for category in article.category.all %}
                            {{ category.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.text|censor }}</td>
                    <td>{{ article.rating }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Статей нет!</h2>
    {% endif %}

    <!-- Пагинация -->
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
