{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
    {{ article.title }}
{% endblock title %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p><strong>Author:</strong> {{ article.author }}</p>
    <p><strong>Post type:</strong> {{ article.post_type }}</p>
    <p><strong>Category:</strong>
        {% if article.category.all %}
            {% for category in article.category.all %}
                {{ category.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            Нет категорий
        {% endif %}
    </p>
    <p><strong>Text:</strong> {{ article.text|censor }}</p>
    <p><strong>Rating:</strong> {{ article.rating }}</p>
    <p><strong>Created at:</strong> {{ article.created_at|date:"d.m.Y" }}</p>
{% endblock content %}
